{% assign details = include.details %}
{% assign year    = include.year %}

<h4 class="alert alert-info" id="{{year}}_{{ details.Awardee | replace: " ", "_" | replace: ",", "_" }}">
<span class="badge pull-right">{{year}}</span>
{% if details.Award <> nil %}
<em>{{ details.Award }}:</em>
{% endif %}
{{details.Awardee}}
</h4>


{% if details.Other <> nil %}
  <font size="+1">{{ details.Other | markdownify }}</font>
{% endif %}

{% if details.Advisor <> nil %}

  <p><strong>Advisor:</strong>&nbsp;{{ details.Advisor }}</p>
  
{% endif %}

{% if details.Citation <> nil %}

  <p><strong>Citation:</strong></p>
  <blockquote >{{ details.Citation | markdownify }}</blockquote>
  
{% endif %}
